$background-color: #292a2d;

.wrapper {
    min-height: 100vh;
    position: relative;
    background-color: $background-color;
}

.container{
    display: grid;
    grid-template-columns: 1fr [content-start] minmax(min-content, 75vw) [content-start] 1fr;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: .5rem;
    text-align: center;
    width: 100%;
    font-size: 1.3rem;
}
