.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    font-size: 3rem;
}

.hamburger {
    height: 3px;
    width: 30px;
    background-color: black;
}

.hamburgerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
}