$font-color: #fff;
// $background-color: #292a2d;
$background-color: #222129;
$header-background-color: #252627;
$link-color: #0070f3;

$heading-color: #ffa86a;
$heading-border: 3px dotted $heading-color;
