.grid {
    grid-column: 2/3;
    display: grid;
    justify-self: center;
    // align-self: center;
    max-width: 90rem;
    padding-top: 3rem;
}

.headContainer {
    border-bottom: 3px dotted white;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}


.header {
    margin-bottom: .5rem;
}

.date {
    font-weight: 100;
    font-size: 1.3rem;
}

.contentContainer {
    & * {
        margin-bottom: 2rem;
    }

    & p {
        line-height: 1.5;
    }
}