.grid {
  grid-column: 2/3;
  display: grid;
  justify-content: center;
  grid-template-columns: min-content minmax(min-content, 40vw);
  column-gap: 2.5rem;
  row-gap: 2rem;
  padding-top: 3rem;
}

.header {
  margin-bottom: 2rem;
  font-weight: 400;
}

.textContainer{
  text-align: left;
  grid-column: 2/3;
  grid-row: 1/3;
}

.subHead{
  font-weight: 400;
}

.linkIcon {
  width: 3.3rem;
  height: 3.3rem;
  fill: #0070f3;
}

.linkContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .4rem .4rem;
}

.photo{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-image: url(/nick-photo.jpg);
  background-size: cover;
  background-position: center;
}