.textContainer{
  text-align: center;
}

.linkIcon {
  width: 3.3rem;
  height: 3.3rem;
  fill: #0070f3;
  margin-right: 2.5rem;
}

.linkContainer{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.photo{
  width: 20rem;
  height: auto;
  // border-radius: 50%;
}